/* 
 * Custom translucent site header
 */

.cell {
  width: 2em;
  height: 2em;
  border-radius: 0.5em;
  border-right: 0.1em #666 solid;
  border-bottom: 0.1em #666 solid;
  background-color: #FDFDF7;
  text-align: center;
  margin-left: 0.2em;
  margin-top: 0.2em;
  line-height: 2em;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  box-sizing: border-box;
  transition: all 0.2s;
  user-select: none;
  color: #555;
}

.cell:last-of-type {
  border-right-width: 0px;
}
.searchRow:last-of-type > .cell {
  border-bottom-width: 0px;
}

.cell:hover {
  background-color: #A6192E;
  color: #fcfcfc;
  cursor: pointer;
}

.cell.hilighted {
  background-color: #A6192E;
  color: #fcfcfc;
}

.container {
  display: flex;
  margin: auto;
  width: 80%;
}

#root-wordSearch {
  width: 90%;
  display: flex;
  margin: auto;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#word-list {
  border: 1px #ececec solid;
  letter-spacing: 1px;
  background-color: #ddd;
  padding: 0.2em;
  border-radius: 5px;

}

#word-list li {
  padding: 0.5em 1em;
  margin: 0.5em;
  border-left: 1% #333 solid;
  transition: all 0.3s;
  font-weight: lighter;
  background-color: #f0f0f0;
  border-radius: 0.3em;

}

#word-list li:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.ws-my-page-success-toast {
  background-color: #5e72e4;
  position: relative;
  margin: auto;
  text-align: center;
  padding: 0.3em;
  border-radius: 0.3em;
  color: #fff;
}

.wrd {
  background-color: #000;
}
